# Exam 2

## 1. Introduction
The companion Google Form for this exam includes a set of questions that you can only answer by writing code. That code must be entered into this notebook.

Some requirements: 
1. This notebook must clearly **show all the work necessary to answer each question** in the Google Form.
1. **Your code must unambiguously show that you have answered each question**.  For questions where you are unable to determine the answer using code, include descriptive text explaining what you believe to be the answer, and any reason you are unable to show it in the code.
1. All code in this notebook must be **well-documented using Markdown**.  Indicate each question you are answering and clearly describe what each block of code is doing.  Your ability to write well-formatted Markdown that clearly explains your work will be factored into your grade.
1. Once you have determined the answer to each question, remember to **enter the answer for each question into the Google Form** - we need both this notebook and the completed Google Form in order to grade your work.
1. Save this notebook and **push this repository to GitHub when done**.

In [34]:
# given code... do not modify
%matplotlib inline
import numpy as np
import pandas as pd
from IPython.display import Markdown as md

df = pd.read_csv('./data/Production_Livestock_E_All_Data/Production_Livestock_E_All_Data.csv')

## 2. Data source and definitions
The data used in this notebook comes from the [Food and Agriculture Organizaion of the United Nations](http://www.fao.org/faostat/en/#data/QA) and represents counts of livestock produced in various areas around the world for every year from 1961-2019.

Several fields in this data may benefit from a bit of explanation.  You are welcome to review the Definitions of the fields by clicking the green `Definitions and standards` button present on website linked above.
- `Area` represents a country or region, e.g. `"Austria"` and `"Western Europe"`
- `Item` represents the specific type or a group of livestock, e.g. `"Sheep"` and `"Sheep and Goats"`
- `Unit` indicates whether the numbers in the yearly count fields represent counts of single animals (`"Head"` or `"No"`), 1000s of animals (`"1000 Head"`).
- yearly counts are in the fields named `Yxxxx`, where `xxxx` is a year, e.g. `Y1961` for the counts of a given animal in a given area in the year 1961.
- the field names following the format, `YxxxxF` indicate whether the count for a given year is an estimate or an actual count.  Estimates are indicated with an `F` or `Im` in this field, while actual counts have no value in this field.

## 3. Data sample

In [35]:
# given code... do not modify
df.sample(5)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
2232,211,Switzerland,1140,Rabbits and hares,5112,Stocks,1000 Head,700.0,F,700.0,...,72.0,NaN,71.0,NaN,63.0,NaN,62.0,NaN,61.0,NaN
1599,149,Nepal,1068,Ducks,5112,Stocks,1000 Head,10.0,F,10.0,...,390.0,NaN,392.0,NaN,395.0,NaN,404.0,NaN,416.0,NaN
423,39,Chad,1126,Camels,5111,Stocks,Head,300000.0,NaN,320000.0,...,6413521.0,NaN,6835531.0,NaN,7285309.0,NaN,7765258.0,NaN,8276416.0,NaN
21,3,Albania,1034,Pigs,5111,Stocks,Head,130400.0,NaN,128100.0,...,171400.0,NaN,181024.0,NaN,180087.0,NaN,184133.0,NaN,183847.0,NaN
790,209,Eswatini,1096,Horses,5111,Stocks,Head,2439.0,NaN,2464.0,...,1659.0,Im,1671.0,Im,1692.0,Im,1708.0,Im,1725.0,Im

# Your Work
Add all the code and documentation you need to answer the exam questions below this block.  Keep your notebook organized so it is obvious which question you are answering (no need to repeat the entire question) and the order of answers follows the order of the questions in the exam.